.hint {
  font-size: .8em;
  padding: 0px;
  margin: 0px;
  line-height: 0px;
  color: gray;
}

.sectionbreak {
  border-top: 1px solid #ddd;
}

ul {
  padding-left: 20px;
  margin: .5em 0;
  color: #444;
  font-family: 'proxima-nova-soft', sans-serif;
  -webkit-font-smoothing: antialiased;
}​

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a {
  background: transparent; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 1em 0 10px 0; }

h3 {
  font-size: 1.17em;
  margin: 0 0; }

h4 {
  font-size: 1em;
  margin: 0;
}


button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button,
input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }


* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

.row {
  width: 100%; }
  .row:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }

.container {
  width: 100%;
  max-width: 950px;
  margin: 0 auto; }
  .container:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }
  .container.narrow {
    max-width: 650px;}
  @media (max-width: 760px) {
    .container {
      max-width: 100% !important; } }

.col-1-1 {
  float: left;
  padding: 0 10px;
  width: 100%; }
  @media (max-width: 760px) {
    .col-1-1 {
      width: 100% !important;
      margin-bottom: 20px !important; } }

.col-1-2 {
  float: left;
  padding: 20px 10px;
  width: 50%; }
  @media (max-width: 760px) {
    .col-1-2 {
      width: 100% !important;
      margin-bottom: 20px !important; } }

body {
  font-size: 18px;
  line-height: 1.5em;
  font-family: 'proxima-nova-soft', sans-serif; }

h1, h2, h3, h4, h5, h6, p {
  font-family: 'proxima-nova-soft', sans-serif;
  -webkit-font-smoothing: antialiased; }
  h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child, p:first-child {
    margin-top: 0; }
  h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child, h6:last-child, p:last-child {
    margin-bottom: 0; }
  h1 > small, h2 > small, h3 > small, h4 > small, h5 > small, h6 > small, p > small {
    font-size: 0.65em;
    color: #aaa; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  line-height: 1.3em;
  color: #1b3544; }
  h1.light, h2.light, h3.light, h4.light, h5.light, h6.light {
    font-weight: 400;
    color: #444; }

p {
  line-height: 1.5em;
  color: #444; }

a {
  color: #359173;
  text-decoration: none;}
  a:hover {
    color: #2A735B; }

html {
  height: 100%; }

body {
  min-height: 90%; }

#title {
  text-align: center;
  margin-bottom: 3em; }
  #title h1 {
    font-size: 1.2em; }
  #title img {
    max-width: 70px; }

.row.section {
  /*padding-top: 2em;
  padding-bottom: 2em;*/
  }
  .row.section#header {
    border-color: #359173; }

.container {
  padding-top: 1em;
  padding-bottom: 1em; }
  @media (max-width: 760px) {
    .container {
      padding-bottom: 0 !important;
      padding-top: 0 !important; } }
  .container.block {
    padding-bottom: 0em;
    padding-top: 0em;}
    @media (max-width: 760px) {
      .container.block {
        padding-top: 0 !important;
        padding-bottom: 0 !important; } }
    .container.block:first-child {
      padding-top: 0; }
    .container.block:last-child {
      padding-bottom: 0; }
  .container.card {
    max-width: 500px; }
  .container.index-card {
    max-width: 950px; }

p {
  line-height: 1.5em; }


input, textarea {
  font-size: 0.8em;
  font-family: 'proxima-nova-soft', sans-serif;
  border: 1px solid #ddd;
  background: #fff;
  padding: 0.9em;
  width: 100%; }
  input.code, textarea.code {
    font-family: "source-code-pro", monospace; }
  input:focus, textarea:focus {
    border-color: #2A735B;
    outline: none;
    box-shadow: 0 0 5px 1px #359173; }

input[type="checkbox"],
input[type="radio"] {
  width: auto;
  margin-right: 6px; }

form input, form textarea {
  margin-bottom: 0.5em; }

button, a.button {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 600;
  border: 2px solid #359173;
  color: #359173;
  background: transparent;
  line-height: 1em;
  padding: 0.6em 0.9em;}
  button:hover, a.button:hover {
    border-color: #2A735B;
    color: #2A735B; }
    button:hover.emphasis, a.button:hover.emphasis {
      color: white;
      background-color: #2A735B; }
  button[disabled], button[disabled]:hover, a.button[disabled], a.button[disabled]:hover {
    color: #b0e2d2;
    border-color: #b0e2d2; }
